div(class="wrapper wrapper_test")
    div(class="wrapper__header")
        h2(class="header2") Панель Адиминистратора
    div(class="wrapper__main")
        each menu in menus
            div(class="adminForm" id=menu.id)
                input(class="adminForm__testName" type="text" value=menu.name)
                textarea(class="adminForm__testText") #{menu.text}
                div(class="adminForm__testAdminButton")
                    button(class="adminForm__button adminForm__button-change" data-id=menu.id) Изменить
                    button(class="adminForm__button adminForm__button-delete" data-id=menu.id) Удалить

        div(class="adminForm")
            input(class="adminForm__testName name-AddTest" type="text" value="")
            textarea(class="adminForm__testText text-AddTest")
            button(class="button-AddTest") Добавить
