include ../BaseMenuView/BaseMenuHeader.pug


div(class="wrapper wrapper_menu")
    div(class="wrapper__header")
        h2(class="header2") Таблица лидеров
    div(class="wrapper__main")

        - var count = 0;
        table.leaderTable
            thead
                tr
                    th.tableHeader Позиция
                    th.tableHeader Имя
                    th.tableHeader Счет

            tbody
                each player in players
                    - if(count == highlightIndex)
                        tr.highlight
                            th.contents #{player.position}
                            th.contents #{player.login}
                            th.contents #{player.score}
                    - else
                        tr
                            th.contents #{player.position}
                            th.contents #{player.login}
                            th.contents #{player.score}

                    - count++;

include ../BaseMenuView/BaseMenuFoot.pug
